<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutriApp</title>
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header class="header">
        <div class="btn-menu">
            <span></span>
        </div>
        <img src="~/assets/NutriApp.svg" alt="NutriApp title" class="nutriapp-logo">
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        Aplicativo desarrollado por FullDev
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
